.advantages {
  background-color: $color-lightgrey;
}

.advantages__title-wrapper {
  text-align: center;
  background-color: $color-white;
  height: 250px;
}

.advantages__heading {
  color: $color-blue;
}

.advantages__list {
  @extend %ul-general-style;
  text-align: center;
  height: 828px;
}
.advantages__item {
  //Nothing
}

.advantages__item-title {
  font-size: $advantages__item-title-font-size;
  font-weight: $advantages__item-title-font-weight;
  color: $advantages__item-title-color;
}

.advantages__item-description {
  font-size: $advantages__item-description-font-size;
  font-weight: $advantages__item-description-font-weight;
  color: $advantages__item-description-color;
}

.advantages__list::after {
  content: '';
  display: block;
  height: 330px;
  background: url(../img/iphone_3.png) no-repeat center 50px;
}
