.button {
  display: block;
  /*height: 55px;*/
  min-width: 280px;
  box-sizing: border-box;
  text-decoration: none;
  border: $button-border;
  border-radius: 29px;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  color: $button-color;
  background-color: $button-background-color;
  font-family: $main-font-family;
  text-align: center;
  padding: 12px 50px 13px;

  &--download {
    margin: 0 0 20px;
  }

  &--square {
    background: $color-darkgreen;
    border: 2px solid $color-darkgreen;
    border-radius: 1px;
    color: $color-white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 30px 16px;
  }

  &--submit {
    border: 3px solid $color-pink;
    color: $color-pink;
    background-color: $color-lightgrey;
    /*height: 0;*/
    margin-bottom: 10px;
    padding: 12px 50px 13px;
  }

  &--reset {
    /*border: 3px solid desaturate($color: $color-blue, $amount: 90%);*/
    border: 3px solid $color-blue;
    color: $color-blue;
    opacity: 0.1;
    background-color: $color-lightgrey;
    /*color: desaturate($color: $color-blue, $amount: 90%);*/
    margin-bottom: 10px;
  }
}
