.button {
  display: block;
  height: 55px;
  width: 280px;
  box-sizing: border-box;
  text-decoration: none;
  border: $button-border;
  border-radius: 29px;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  color: $button-color;
  background-color: $button-background-color;
  font-family: "Open Sans", "Arial", sans-serif;

  &--square {
    background: $color-darkgreen;
    border: 2px solid $color-darkgreen;
    border-radius: 1px;
    color: $color-white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    min-width: 276px;
  }
}
