.cards-list {
  @extend %ul-general-style;
  padding: 20px;
  display: grid;
  justify-content: center;
  /*grid-template-columns: 1fr;*/
  row-gap: 20px;

  @media screen and (min-width: $media-tablet) {
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 630px auto 455px 455px;*/ /*455*/
    gap: 20px;
  }

  @media screen and (min-width: $media-desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 630px auto;*/ /*455*/
    gap: 20px;
    padding: 40px 130px;
  }
}

.cards-list__item {
  display: flex;
  flex-direction: column;
  background-color: $color-lightgrey;

  &--panorama {
    align-items: center;

    @media screen and (min-width: $media-tablet) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media screen and (min-width: $media-desktop) {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
}
