.card {
  //Nothing
}

.card__link-image-area {
  @extend %a-general-style;
  padding: 0;
}

.card__image {
  display: block;
  width: 100%;

  &--panorama {
    width: 100vw;
    padding: 0;
    overflow-x: hidden;
  }

  &--post {
    width: auto;
  }
}


.card__description {
  padding: 25px 10px 26px 17px;

  @media screen and (min-width: $media-tablet) {
    display: grid;
    grid-template-areas: "name" "comment" "like";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    padding: 30px 20px 20px 30px;
  }

  &--panorama {
    @media screen and (min-width: $media-tablet) {
      grid-template-rows: auto;
      padding: 40px 20px 20px 40px;
    }
  }
}

.card__name {
  grid-area: name;
  font-size: $name-font-size;
  font-weight: $name-font-weight;
  color: $name-color;
  margin-bottom: 14px;

  @media screen and (min-width: $media-tablet) {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 0;
  }

  &--panorama {
    @media screen and (min-width: $media-tablet) {
      grid-column: 1/2;
      display: flex;
      align-items: center;
    }
  }
}

.card__time {
  font-size: $time-font-size;
  font-weight: $time-font-weight;
  color: $time-color;
  text-transform: uppercase;
}

.card__comment {
  @extend %p-general-style;
  grid-area: comment;
  font-size: $comment-font-size;
  font-weight: $comment-font-weight;
  color: $comment-color;
  margin-bottom: 27px;
  line-height: 1.5;
  min-height: 45px;

  @media screen and (min-width: $media-tablet) {
    grid-column: 1/3;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card__like {
  grid-area: like;

  @media screen and (min-width: $media-tablet) {
    grid-column: 1/3;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  &--panorama {
    @media screen and (min-width: $media-tablet) {
      grid-column: 2/3;
      grid-row: 1/2;
      justify-content: flex-start;
    }
  }
}

.card__like-button {
  width: 13px;
  height: 12px;
  text-decoration: none;
  text-align: center;
  border: none;
  background: url("../img/heart.svg");
  background-repeat: no-repeat;
  margin-right: 15px;

  @media screen and (min-width: $media-tablet) {
    margin-right: 0;
    margin-left: 15px;
  }
}

.card__like-icon {
  //Nothing
}

.card__like-text {
  font-size: $like-text-font-size;
  font-weight: $like-text-font-weight;
  color: $like-text-color;
  text-transform: uppercase;
}
