.card {
  //Nothing
}

.card__link-image-area {
  @extend %a-general-style;
  padding: 0;
}

.card__image {
  /*object-fit: cover;*/
  width: 100%;

  &--panorama {
    width: 100vw;
    padding: 0;
    overflow-x: hidden;
  }
}


.card__description {
  padding: 25px 10px 26px 17px;

  &--panorama {
    //Nothing
  }
}

.card__name {
  font-size: $name-font-size;
  font-weight: $name-font-weight;
  color: $name-color;
  margin-bottom: 14px;
}

.card__time {
  font-size: $time-font-size;
  font-weight: $time-font-weight;
  color: $time-color;
  text-transform: uppercase;
}

.card__comment {
  @extend %p-general-style;
  font-size: $comment-font-size;
  font-weight: $comment-font-weight;
  color: $comment-color;
  margin-bottom: 27px;
}

.card__like {
  //Nothing
}

.card__like-button {
  width: 13px;
  height: 12px;
  text-decoration: none;
  text-align: center;
  border: none;
}

.card__like-icon {
  //Nothing
}

.card__like-text {
  font-size: $like-text-font-size;
  font-weight: $like-text-font-weight;
  color: $like-text-color;
  text-transform: uppercase;
  margin-left: 20px;
}
