.contacts {
  text-align: center;
}

.contacts__list {
  @include list-style;
  @include zero-margins;
  padding: 45px 20px 35px;
  display: grid;
  grid-template-areas: "title" "phone" "email" "adress";
  gap: 17px;

  @media screen and (min-width: $media-tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "phone email"
      "adress adress";
    padding: 44px 20px 22px 20px;
    gap: 32px;
  }

  @media screen and (min-width: $media-desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "title title title"
      "phone adress email";
    padding: 60px 130px 20px;
    row-gap: 38px;
    column-gap: 23px;

    max-width: 940px;
    width: 100%;
    margin: auto;
  }
}

.contacts__item {
  display: block;

  &--title {
    grid-area: title;
    margin-bottom: 19px;

    @media screen and (min-width: $media-tablet) {
      margin: 0;
    }
  }

  &--phone {
    grid-area: phone;
  }

  &--email {
    grid-area: email;
  }

  &--adress {
    grid-area: adress;
    margin-top: 5px;

    @media screen and (min-width: $media-tablet) {
      margin-top: 10px;

      @media screen and (min-width: $media-desktop) {
        margin-top: 0;
      }
    }
  }
}

.contacts__wrapper {
  padding: 36px 20px 10px;
}

.contacts__info-title {
  font-size: $contacts__info-title-font-size;
  font-weight: $contacts__info-title-font-weight;
  color: $contacts__info-title-color;
  margin: 0;

  @media screen and (min-width: $media-tablet) {
    margin-bottom: 5px;
  }

  @media screen and (min-width: $media-desktop) {
    margin-bottom: 24px;
  }
}

.contacts__link {
  // @extend %a-general-style;
  @include decoration;
  font-size: $contacts__link-font-size;
  font-weight: $contacts__link-font-weight;
  color: $contacts__link-color;
  cursor: pointer;

  &:hover {
    color: $color-blue;
    border-bottom: 1px solid $color-blue;
  }

  &:active {
    color: rgba($color-blue, 0.3);
    border-bottom: none;
  }
}
