.contacts {
  text-align: center;

  @media screen and (min-width: $media-tablet) {
    gap: 20px;
  }
}

.contacts__list {
  @extend %ul-general-style;
  padding: 20px;
  display: grid;
  grid-template-areas: "title" "phone" "email" "adress";

  @media screen and (min-width: $media-tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: $media-desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.contacts__item {
  display: grid;

  &--title {
    grid-area: title;

    @media screen and (min-width: $media-tablet) {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    @media screen and (min-width: $media-desktop) {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
    }
  }

  &--phone {
    grid-area: phone;

    @media screen and (min-width: $media-tablet) {
      grid-column: 1 / 2;
      grid-row: 2 /3;
    }

    @media screen and (min-width: $media-desktop) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }

  &--email {
    grid-area: email;

    @media screen and (min-width: $media-tablet) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    @media screen and (min-width: $media-desktop) {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
  }

  &--adress {
    grid-area: adress;

    @media screen and (min-width: $media-tablet) {
      grid-column: 1 / 3;
    }

    @media screen and (min-width: $media-desktop) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }
}

.contacts__wrapper {
  padding: 36px 20px 10px;
}

.contacts__container {
  //Nothing
}

.contacts__info {
  //Nothing
}

.contacts__info-title {
  font-size: $contacts__info-title-font-size;
  font-weight: $contacts__info-title-font-weight;
  color: $contacts__info-title-color;
  margin: 0;

  @media screen and (min-width: $media-desktop) {
    height: 50px;
  }
}

.contacts__link {
  @extend %a-general-style;
  font-size: $contacts__link-font-size;
  font-weight: $contacts__link-font-weight;
  color: $contacts__link-color;
}
