.effect {
  display: none;

  @media screen and (min-width: $media-tablet) {
    display: block;
  }

  @media screen and (min-width: $media-desktop) {
    background-color: $color-lightgrey;
  }
}

.effect__wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 27px 20px 0;
  height: 100%;
  max-width: 940px;
  width: 100%;
  box-sizing: border-box;

  @media screen and (min-width: $media-desktop) {
    padding: 50px 0 0 0;
  }
}

.effect__image {
  display: flex;
  width: 50%;
  min-height: 330px;
  background-image: url("../img/time_tablet.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto;
  background-position: 0 50%;

  @media screen and (min-width: $media-desktop) {
    background-image: url("../img/time_desk.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto;
    background-position: 42% 0%;
    width: 35%;
  }
}

.effect__description {
  display: flex;
  flex-direction: column;
  width: 50%;

  @media screen and (min-width: $media-desktop) {
    padding: 25px 0 0 0;
    line-height: 30px;
    margin-bottom: 110px;
    width: 65%;
    margin-left: 60px;
  }
}

.effect__heading {
  font-size: $effect-heading-font-size;
  font-weight: $effect-heading-font-weight;
  color: $effect-heading-color;
  margin: 0;
  width: 60%;
  line-height: 36px;
  padding-top: 70px;

  @media screen and (min-width: $media-desktop) {
    width: 100%;
  }
}

.effect__text {
  // @extend %p-general-style;
  @include zero-margins;
  font-size: $effect-text-font-size;
  font-weight: $effect-text-font-weight;
  color: $effect-text-color;
  padding-top: 10px;
  line-height: 24px;

  @media screen and (min-width: $media-desktop) {
    font-size: $effect-text-font-size--desktop;
    padding-top: 21px;
    line-height: 30px;
    padding-right: 40px;
  }

  &--br {
    display: none;

    @media screen and (min-width: $media-desktop) {
      display: inline;
    }
  }
}

.effect__link {
  // @extend %a-general-style;
  @include decoration;
  font-size: $effect-link-font-size;
  font-weight: $effect-link-font-weight;
  color: $effect-link-color;
  text-decoration: underline;
  padding-top: 8px;

  @media screen and (min-width: $media-desktop) {
    font-size: $effect-link-font-size--desktop;
    padding-top: 30px;
  }
}
