.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.feedback-text {
  text-transform: uppercase;
  /*color: $color-white;*/
  color: $color-blue;
  margin-top: 40px;
}

.feedback-text__icon {
  color: $color-pink;
}
