.feedback {
  /*display: flex;*/
  display: grid;
  grid-area: feedback;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  row-gap: 40px;

  @media screen and (min-width: $media-tablet) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px 0;
  }

  @media screen and (min-width: $media-desktop) {
    grid-column: 1 / 3;
  }
}

.feedback-text {
  text-transform: uppercase;
  color: $color-blue;

  @media screen and (min-width: $media-tablet) {
    text-align: right;
  }

  &--desk-only {
    display: none;

    @media screen and (min-width: $media-desktop) {
      display: inline;
    }
  }
}

.feedback-text__icon {
  color: $color-pink;
}
