.field {
  display: flex;
  flex-direction: column;
  /*margin-bottom: 20px;*/

  @media screen and (min-width: $media-tablet) {
    flex-direction: column-reverse;
  }

  &--row {
    @media screen and (min-width: $media-tablet) {
      flex-direction: row;
      align-items: center;
    }
  }
}

.field__label {
  font-size: $field__label-font-size;
  font-weight: $field__label-font-weight;
  color: $field__label-color;
  text-transform: uppercase;
  padding-left: 15px;
  margin-bottom: 10px;

  @media screen and (min-width: $media-tablet) {
    padding-left: 0;
    padding-right: 15px;
    margin-bottom: 0px;
  }

  &--contacts {
    padding: 10px 0 0 15px;
  }
}

.field__input {
  border: 2px solid $color-grey;
  font-size: $field__input-font-size;
  font-weight: $field__input-font-weight;
  color: $field__input-color;
  padding: 17px 0 17px 15px;
  border-radius: 1px;

  @media screen and (min-width: $media-tablet)  {
    width: 100%;
  }

  /*&--contacts
    width: auto;
  }*/

  &--phone-image {
    @media screen and (min-width: $media-tablet) {
      width: auto;
      background: url("../img/phone_icone.svg");
      background-repeat: no-repeat;
      background-position: 100%;
    }
  }

  &--mail-image {
    @media screen and (min-width: $media-tablet) {
      width: auto;
      background: url("../img/mail_icone.svg");
      background-repeat: no-repeat;
      background-position: 100%;
    }
  }
}
