.fieldset-list {
  @extend %ul-general-style;
  display: grid;
  gap: 20px;

  &--choice {
    margin-top: 80px;
    gap: 40px;

    @media screen and (min-width: $media-tablet) {
      margin-top: 0;
    }
  }

  &--general {
    margin-top: 20px;

    @media screen and (min-width: $media-tablet) {
      margin-top: 0;
    }
  }

  &--grid {
    @media screen and (min-width: $media-desktop) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
}
