.field {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $media-tablet) {
    flex-direction: column-reverse;
  }

  &--row {
    @media screen and (min-width: $media-tablet) {
      flex-direction: row;
      align-items: center;
    }
  }
}

.field__label {
  font-size: $field__label-font-size;
  font-weight: $field__label-font-weight;
  color: $field__label-color;
  text-transform: uppercase;
  padding-left: 23px;
  margin-bottom: 7px;

  @media screen and (min-width: $media-tablet) {
    padding-left: 0;
    padding-right: 15px;
    margin-bottom: 0;
  }

  &--contacts {
    padding: 15px 0 0 25px;

    @media screen and (min-width: $media-tablet) {
      padding: 12px 0 0 16px;
    }
  }
}

.field__input {
  border: 2px solid $color-grey;
  border-radius: 1px;
  font-size: $field__input-font-size;
  font-weight: $field__input-font-weight;
  color: $field__input-color;
  padding: 19px 0 18px 20px;

  &:hover {
    border: 2px solid $color-blue;
    outline: none;
  }

  &:focus {
    border: 2px solid $color-pink;
    outline: none;
  }

  @media screen and (min-width: $media-tablet) {
    width: 100%;
  }

  &--phone-image {
    @media screen and (min-width: $media-tablet) {
      width: auto;
      background-image: url("../img/phone_icone.svg");
      background-repeat: no-repeat;
      background-position: 100%;
      padding-right: 60px;
    }
  }

  &--mail-image {
    @media screen and (min-width: $media-tablet) {
      width: auto;
      background: url("../img/mail_icone.svg");
      background-repeat: no-repeat;
      background-position: 100%;
      padding-right: 60px;
    }
  }
}
