.filter {
  height: 60px;
}

.filter__label {
  display: flex;
  align-items: center;

  /**/
  flex-direction: row;
}

.filter__input {
  appearance: none;
  background-color: red;

  &--crop {
    mask-image: url("../img/crop.svg");
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    color: red;
  }

  &--fill {
    background-image: url("../img/fill.svg");
    background-repeat: no-repeat;
    width: 48px;
    height: 43px;
  }

  &--contrast {
    background-image: url("../img/contrast.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
  }
}

.filter__range {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 50px;*/
  padding: 40px 0;

  &:not(:first-child) {
    display: none;
  }

  @media screen and (min-width: $media-tablet) {
    position: relative;
    padding-left: 40px;
    border-bottom: 1px solid rgba($color-blue, 0.3);

    &:not(:first-child) {
      display: flex;
    }

    &:nth-of-type(1)::before {
      content: "";
      position: absolute;
      background-image: url(../img/crop.svg);
      background-repeat: no-repeat;
      background-size: contain;
      left: 0;
      width: 22px;
      height: 22px;
    }

    &:nth-of-type(2)::before {
      content: "";
      position: absolute;
      background-image: url(../img/fill.svg);
      background-repeat: no-repeat;
      background-size: contain;
      left: 0;
      width: 24px;
      height: 22px;
    }

    &:nth-of-type(3)::before {
      content: "";
      position: absolute;
      background-image: url(../img/contrast.svg);
      background-repeat: no-repeat;
      background-size: contain;
      left: 0;
      width: 16px;
      height: 16px;
    }
  }

  @media screen and (min-width: $media-desktop) {
    padding: 40px 0 40px 80px;

    &:nth-of-type(1)::before {
      width: 44px;
      height: 44px;
    }

    &:nth-of-type(2)::before {
      width: 48px;
      height: 43px;
    }

    &:nth-of-type(3)::before {
      width: 32px;
      height: 32px;
    }
  }
}

.filter__line {
  left: -20px;
  bottom: -27px;
  width: 240px;
  height: 2px;
  background-color: #283645;

  @media screen and (min-width: $media-tablet) {
    width: 202px;
  }

  @media screen and (min-width: $media-desktop) {
    width: 288px;
  }
}

.filter__circle {
  background-color: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 100%;
  display: block;
  position: relative;
  top: -6px;
  left: 80%;
  height: 10px;
  width: 10px;
  cursor: pointer;
}

.filter-button {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  border: none;

  &:not(:last-child) {
    margin-right: 40px;
  }

  @media screen and (min-width: $media-tablet) {
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 50px;
    }
  }
}

.filter-button__image {
  color: rgba($color-blue, 0.3);

  &:hover {
    color: rgba($color-blue, 0.5);
  }

  &:active {
    color: $color-pink;
  }

  &--crop {
    width: 44px;
    height: 44px;

    @media screen and (min-width: $media-tablet) {
      width: 22px;
      height: 22px;
    }

    @media screen and (min-width: $media-desktop) {
      width: 44px;
      height: 44px;
    }
  }

    &--fill {
      width: 48px;
      height: 43px;

      @media screen and (min-width: $media-tablet) {
        width: 24px;
        height: 22px;
      }

      @media screen and (min-width: $media-desktop) {
        width: 48px;
        height: 43px;
      }
    }

    &--contrast {
      width: 32px;
      height: 32px;

      @media screen and (min-width: $media-tablet) {
        width: 16px;
        height: 16px;
      }

      @media screen and (min-width: $media-desktop) {
        width: 32px;
        height: 32px;
      }
    }

}

.filter-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $media-tablet) {
    display: none;
  }

}

.filter-range {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

