.filter {
  display: grid;
  grid-template-areas: "crop fill contrast" "rangecrop rangecrop rangecrop";
  grid-template-columns: 1fr 1fr 1fr;

  @media screen and (min-width: $media-tablet) {
    grid-template-areas: "crop rangecrop" "fill rangefill" "contrast rangecontrast";
    align-items: center;
    grid-template-rows: 75px;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: $media-desktop) {
    grid-template-areas: "crop rangecrop" "fill rangefill" "contrast rangecontrast";
    align-items: center;
    grid-template-rows: 75px;
  }
}

.filter__row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;

  &--crop {
    grid-area: crop;
    padding-left: 20px;

    @media screen and (min-width: $media-tablet) {
      padding: 0;
    }
  }

  &--fill {
    grid-area: fill;
  }

  &--contrast {
    grid-area: contrast;
    padding-right: 30px;

    @media screen and (min-width: $media-tablet) {
      padding: 0;
    }
  }

  @media screen and (min-width: $media-tablet) {
    border-bottom: 1px solid rgba($color-blue, 0.3);
  }
}

.filter__image {
  color: rgba($color-blue, 0.3);

  &:hover {
    color: rgba($color-blue, 0.5);
  }

  &--active {
    color: $color-pink;
  }

  &--crop {
    width: 44px;
    height: 44px;

    @media screen and (min-width: $media-tablet) {
      width: 22px;
      height: 22px;
    }

    @media screen and (min-width: $media-desktop) {
      width: 44px;
      height: 44px;
    }
  }

  &--fill {
    width: 48px;
    height: 43px;

    @media screen and (min-width: $media-tablet) {
      width: 24px;
      height: 22px;
    }

    @media screen and (min-width: $media-desktop) {
      width: 48px;
      height: 43px;
    }
  }

  &--contrast {
    width: 32px;
    height: 32px;


    @media screen and (min-width: $media-tablet) {
      width: 16px;
      height: 16px;
    }

    @media screen and (min-width: $media-desktop) {
      width: 32px;
      height: 32px;
    }
  }
}

.filter__line {
  left: -20px;
  bottom: -27px;
  width: 240px;
  height: 2px;
  background-color: #283645;

  @media screen and (min-width: $media-tablet) {
    width: 202px;
    margin-right: 14px;
  }

  @media screen and (min-width: $media-desktop) {
    width: 288px;
  }
}

.filter__circle {
  background-color: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 100%;
  display: block;
  position: relative;
  top: -6px;
  left: 80%;
  height: 10px;
  width: 10px;
  cursor: pointer;

  &--active {
    background-color: $color-pink;
  }

  @media screen and (min-width: $media-tablet) {
    &--crop {
      left: 73%;
    }

    &--fill {
      left: 13%;
    }

    &--contrast {
      left: 48%;
    }
  }

  @media screen and (min-width: $media-desktop) {
    &--crop {
      left: 24%;
    }

    &--fill {
      left: 86%;
    }

    &--contrast {
      left: 56%;
    }
  }
}

.filter__range {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 37px 0 32px;

  &--crop {
    grid-area: rangecrop;
  }

  &--fill {
    grid-area: rangefill;
    display: none;
  }

  &--contrast {
    grid-area: rangecontrast;
    display: none;
  }

  @media screen and (min-width: $media-tablet) {
    position: relative;
    padding: 36px 5px 35px 20px;
    border-bottom: 1px solid rgba($color-blue, 0.3);

    &:not(:first-child) {
      display: flex;
    }

    @media screen and (min-width: $media-desktop) {
      padding: 35px 14px 35px 39px;

      &--crop {
        grid-area: rangecrop;
      }

      &--fill {
        grid-area: rangefill;
      }

      &--contrast {
        grid-area: rangecontrast;
      }
    }
  }
}
