.footer {
  background-color: $footer-background-color;
  max-width: 940px;
  margin: 0 auto;
  width: 100%;
}

.footer__wrapper {
  text-align: center;
  padding: 39px 20px 40px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $media-tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 31px 20px 40px;
  }

  @media screen and (min-width: $media-desktop) {
    padding: 65px 0;
  }
}

.footer__logo {
  color: $color-blue;

  &--mobile {
    @media screen and (min-width: $media-desktop) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media screen and (min-width: $media-desktop) {
      display: inline;
    }
  }
}

.footer__link {
  @include decoration;
  margin-bottom: 27px;

  @media screen and (min-width: $media-tablet) {
    margin-bottom: 0;
  }
}

.footer__developer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__developer-link {
  @include decoration;
  display: flex;
  align-items: center;
  color: $color-pink;

  &:hover {
    color: $color-blue;
  }

  &:active {
    color: lighten($color: $color-blue, $amount: 70%);
  }
}

.footer__developer-text {
  font-size: $developer-text-font-size;
  font-weight: $developer-text-font-weight;
  color: $developer-text-color;
  text-decoration: none;
  margin-right: 15px;

  @media screen and (min-width: $media-desktop) {
    font-size: $developer-text-font-size--desktop;
  }
}
