.footer {
  background-color: $footer-background-color;
}

.footer__wrapper {
  text-align: center;
  padding: 37px 20px 40px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $media-tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: $media-desktop) {
    padding: 40px 130px;
  }
}

.footer__logo {
  color: $color-blue;

  &--mobile {
    @media screen and (min-width: $media-desktop) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media screen and (min-width: $media-desktop) {
      display: inline;
    }
  }
}

.footer__link {
  @extend %a-general-style;
}

.footer-social {
  //Nothing
}

.footer__developer {
  //Nothing
}

.footer__developer-link {
  @extend %a-general-style;
  display: flex;
  align-items: center;
  color: $color-pink;

  &:hover {
    color: $color-blue;
  }

  &:active {
    color: lighten($color: $color-blue, $amount: 70%)
  }
}

.footer__developer-text {
  font-size: $developer-text-font-size;
  font-weight: $developer-text-font-weight;
  color: $developer-text-color;
  text-decoration: none;
  margin-right: 10px;

  @media screen and (min-width: $media-desktop) {
    font-size: $developer-text-font-size--desktop;
  }
}

