.form-publish {
  display: grid;
  grid-template-areas: "image" "filters";
  grid-template-columns: 1fr;

  @media screen and (min-width: $media-tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

.form-publish__fieldset-image {
  grid-area: image;
  margin: 0;
  padding: 40px 20px 0;
  border: none;
  text-align: center;
}

.form-publish__input-hidden {
  display: none;
}

.form-publish__fieldset-filters {
  grid-area: filters;
  margin: 0;
  padding: 20px;
  border: none;
  text-align: center;

  @media screen and (min-width: $media-tablet) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}


.form-publish__container {
  display: grid;
  grid-template-areas: "icons";

  @media screen and (min-width: $media-tablet) {
    /*grid-template-columns: 1fr 2fr;*/
  }
}

.form-publish__list {
  @extend %ul-general-style;
  grid-area: icons;
}

.form-publish__range-row {
  //Nothing
}

.form-publish__button {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  border-top: 1px solid $color-blue;

  @media screen and (min-width: $media-tablet) {
    padding-top: 0;
    border-top: none;
  }

  @media screen and (min-width: $media-desktop) {
    flex-direction: row;
  }
}
