.form-publish {
  display: grid;
  grid-template-areas: "image" "filters";
  grid-template-columns: 1fr;

  @media screen and (min-width: $media-tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image filters";
    gap: 65px;
    padding: 40px 20px;
  }

  @media screen and (min-width: $media-desktop) {
    gap: 0;
    padding: 60px;
  }
}

.form-publish__fieldset-image {
  grid-area: image;
  margin: 0;
  padding: 20px 20px 0;
  border: none;
  text-align: center;

  @media screen and (min-width: $media-tablet) {
    padding: 0;
  }

  @media screen and (min-width: $media-desktop) {
    text-align: left;
  }
}

.form-publish__input-hidden {
  display: none;
}

.form-publish__fieldset-filters {
  grid-area: filters;
  margin: 0;
  padding: 20px;
  border: none;
  text-align: center;

  @media screen and (min-width: $media-tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}


.form-publish__container {
  grid-template-areas: "icons";
  border-bottom: 1px solid rgba($color-blue, 0.1);

  @media screen and (min-width: $media-tablet) {
    display: flex;
    border-bottom: none;
  }
}

.form-publish__list {
  @extend %ul-general-style;
  grid-area: icons;
}

.form-publish__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;

  @media screen and (min-width: $media-tablet) {
    border-top: none;
  }

  @media screen and (min-width: $media-desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}
