.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "name" "progress" "contacts" "app" "emotions" "feedback";
  gap: 20px;

  @media screen and (min-width: $media-tablet) {
    padding: 0 20px;
    grid-template-areas: "name" "app" "contacts" "progress" "emotions" "feedback";
    gap: 40px;
  }

  @media screen and (min-width: $media-desktop) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name app"
      "contacts contacts"
      "progress progress"
      "emotions emotions"
      "feedback feedback";
    padding: 40px 130px;
  }
}

.form__fieldset {
  padding: 20px;
  margin: 0;
  border: 0;

  &:nth-of-type(even) {
    background-color: $color-lightgrey;
  }

  @media screen and (min-width: $media-tablet) {
    border: 2px solid $color-grey;
    padding: 20px 60px;

    &:nth-of-type(even) {
      background-color: $color-white;
    }
  }

  &--name {
    display: grid;
    grid-area: name;

    @media screen and (min-width: $media-tablet) {
      border: none;
      padding: 20px 0;
    }

    @media screen and (min-width: $media-desktop) {
      padding: 0;
      align-items: end;
    }
  }

  &--progress {
    grid-area: progress;

    @media screen and (min-width: $media-desktop) {
      grid-auto-flow: dense;
    }
  }

  &--contacts {
    grid-area: contacts;
  }

  &--app {
    grid-area: app;
  }

  &--emotions {
    grid-area: emotions;
  }
}

.form__fieldset-legend {
  font-size: $form__fielsdet-legend-font-size;
  font-weight: $form__fielsdet-legend-font-weight;
  color: $form__fielsdet-legend-color;
  text-transform: uppercase;
  line-height: 18px;
  position: absolute;
  padding: 20px 40px 0 20px;
  text-align: center;

  @media screen and (min-width: $media-tablet) {
    position: inherit;
    padding: 0 10px;
    width: max-content;
  }

  &--one-row {
    padding: 20px 40px 0 50px;

    @media screen and (min-width: $media-tablet) {
      padding: 0 10px;
    }
  }

  &--contacts-hidden {
    display: none;

    @media screen and (min-width: $media-tablet) {
      display: block;
    }
  }
}

.form__fieldset-textarea {
  width: -webkit-fill-available;
  min-height: 197px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $color-blue;
  border-color: $color-lightgrey;
  font-family: $main-font-family;
  appearance: none;
  margin-top: 60px;
  outline: none;
  padding: 20px;

  @media screen and (min-width: $media-tablet) {
    margin-top: 0;
    min-height: 189px;
  }

  @media screen and (min-width: $media-desktop) {
    min-height: 124px;
  }
}
