.heading {
  color: $heading-color;
  font-size: $heading-font-size;
  font-weight: $heading-font-weight;

  &--blue {
    @extend %p-general-style;
    color: $color-blue;
    margin-bottom: 30px;
  }
}
