.heading {
  color: $heading-color;
  font-size: $heading-font-size;
  font-weight: $heading-font-weight;

  @media screen and (min-width: $media-tablet) {
    font-size: $heading-font-size--tablet;
    line-height: 120%;
  }

  @media screen and (min-width: $media-desktop) {
    font-size: $heading-font-size--desktop;
  }

  &--blue {
    @extend %p-general-style;
    color: $color-blue;
  }
}
