.inline-field {
  display: flex;
  align-items: center;
}

.inline-field__input-checkbox {
  appearance: none;
}

.inline-field__input-radio {
  /*margin-bottom: 40px;*/
}

.inline-field__label {
  display: flex;
  align-items: center;
  font-size: $inline-field__label-font-size;
  font-weight: $inline-field__label-font-weight;
  color: $inline-field__label-color;
  line-height: 30px;

  &:hover::before {
    border: 2px solid $color-blue;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid $color-grey;
    margin-right: 15px;
    background-color: $color-white;
    border-radius: 1px;
  }
}

.inline-field .inline-field__input-checkbox:checked + .inline-field__label::before {
  background-image: url(../img/tick.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.inline-field .inline-field__input-checkbox:focus + .inline-field__label::before {
  content: "";
  border: 2px solid $color-blue;
}

.inline-field .inline-field__input-checkbox:checked:focus + .inline-field__label::before {
  content: "";
  border: 2px solid $color-pink;
}
