.inline-field {
  //Nothing
}

.inline-field__input-checkbox {
  /*margin-bottom: 40px;*/
}

.inline-field__input-radio {
  /*margin-bottom: 40px;*/
}

.inline-field__label {
  font-size: $inline-field__label-font-size;
  font-weight: $inline-field__label-font-weight;
  color: $inline-field__label-color;
  line-height: 30px;
}
