.main-nav {
  background-color: $main-nav-background-color;
  color: $main-nav-color;
}

.main-nav__toggle {
  //Nothing
}

.main-nav__list {
  @extend %ul-general-style;
}

.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  text-transform: uppercase;
  font-size: $site-list-font-size;
  font-weight: $site-list-font-weight;
}

.main-nav__item a {
  @extend %a-general-style;
  color: $color-white;
  padding: 18px 20px;
}
