.main-nav {
  grid-area: nav;
  display: none;
  color: $main-nav-color;
  height: max-content;
  background-color: $color-blue;

  &--opened {
    display: block;
  }

  @media screen and (min-width: $media-desktop) {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 130px 0 0;
    height: 100%;
  }
}

.main-nav__list {
  @extend %ul-general-style;

  @media screen and (min-width: $media-desktop) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 40px;
  }
}

.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 $color-black, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  text-transform: uppercase;
  font-size: $main-nav-font-size;
  font-weight: $main-nav-font-weight;
  color: $main-nav-color;

  @media screen and (min-width: $media-desktop) {
    box-shadow: none;
    text-transform: none;
    font-weight: $main-nav-font-weight--desktop;
  }

  &:hover {
    color: $color-pink;
  }

  &:active {
    color: $color-pink;
    opacity: 0.3;
  }
}

.main-nav__item a {
  @extend %a-general-style;
  color: inherit;
  cursor: pointer;
  padding: 18px 20px;

  @media screen and (min-width: $media-desktop) {
    padding: 0;
  }
}

.main-nav__item--active a{
  @media screen and (min-width: $media-desktop) {
    border-bottom: 2px solid $color-white;
  }
}
