.map {
  background-color: $map-background-color;
}

.map__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.map__content {
  min-height: 200px;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 0;

  @media screen and (min-width: $media-tablet) {
    min-height: 374px;
  }

  @media screen and (min-width: $media-desktop) {
    min-height: 502px;
  }
}

.map__image {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 1000;
  height: auto;
}
