.page-header {
  color: $color-white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "top" "nav" "heading" "image" "download";
  grid-template-rows: 66px auto;
  background: url("../img/back-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;

  @media screen and (min-width: $media-tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 110px auto;
    grid-template-areas:
    "top top"
    "nav nav"
    "heading ."
    "download ."
    "image image";
    background: url("../img/back-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }

  @media screen and (min-width: $media-desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 110px auto;
    grid-template-areas:
    "top nav nav"
    "heading . ."
    "download . ."
    "image image image";
    background: url("../img/back-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }
}

.page-header__wrapper--form {
  background: url("../img/back-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  display: grid;
  grid-template-rows: 66px 173px;

  @media screen and (min-width: $media-tablet) {
    grid-template-rows: 110px 330px;
  }

  @media screen and (min-width: $media-desktop) {
    grid-template-rows: 110px 284px;
  }
}

.page-header__link {
  @extend %a-general-style;
}

.page-header__logo {
  grid-area: top;
  background-color: rgba(0, 0, 0, .3);
  padding: 20px;
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $media-tablet) {
    padding: 0px 20px 0;
    align-items: center;
  }

  @media screen and (min-width: $media-desktop) {
    padding: 0 0 0 130px;
    align-items: center;
  }

  &--opened {
    background-color: $color-blue;
  }
}

.page-header__logo-image {
  //Nothing
}

.page-header__title-wrapper {
  text-align: center;
  padding: 40px 20px;

  @media screen and (min-width: $media-tablet) {

  }

  @media screen and (min-width: $media-desktop) {

  }
}

.page-header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 173px;
  font-size: $page-header__title-font-size;
  font-weight: $page-header__title-font-weight;
  color: $page-header__title-color;
  margin: 0;
  grid-area: heading;
  padding: 0 20px;

  @media screen and (min-width: $media-tablet) {
    grid-column: 1/3;
    min-height: 334px;
  }

  @media screen and (min-width: $media-desktop) {
    grid-column: 1/5;
    min-height: 288px;
  }
}

.page-header__image {
  grid-area: image;
  line-height: 0;

  @media screen and (min-width: $media-tablet) {
    grid-row: 3/5;
    grid-column: 1/3;
    z-index: 1;
  }
}
