.page-main {
  background-color: $color-white;
  display: block;
}

.page-main__title-wrapper {
  text-align: center;
  padding: 39px 20px 20px;

  @media screen and (min-width: $media-tablet) {
    padding: 39px 60px 20px;
  }

  @media screen and (min-width: $media-desktop) {
    padding: 39px 200px 20px;
  }
}

.page-main__title {
  // @extend %p-general-style;
  @include zero-margins;
  font-size: $main-title-font-size;
  font-weight: $main-title-font-weight;
  color: $main-title-color;

  @media screen and (min-width: $media-tablet) {
    font-size: $main-title-font-size--tablet;
  }

  &--mobile-hidden {
    display: none;

    @media screen and (min-width: $media-tablet) {
      display: inline;
    }
  }
}
