.page-main {
  background-color: $color-white;
  display: block;
}

.page-main__title-wrapper {
  text-align: center;
  padding: 43px 20px 16px;

  @media screen and (min-width: $media-tablet) {
    padding: 90px 60px 52px;
  }

  @media screen and (min-width: $media-desktop) {
    padding: 90px 200px 33px;
  }
}

.page-main__title {
  // @extend %p-general-style;
  @include zero-margins;
  font-size: $main-title-font-size;
  font-weight: $main-title-font-weight;
  color: $main-title-color;
  line-height: 30px;

  @media screen and (min-width: $media-tablet) {
    font-size: $main-title-font-size--tablet;
  }

  &--mobile-hidden {
    display: none;

    @media screen and (min-width: $media-tablet) {
      display: inline;
    }
  }
}
