.page-header {
  color: $color-white;
  display: grid;
  grid-template-areas: "top" "heading" "image" "download";
  grid-template-columns: auto;
  background-color: $color-blue;
  background-image: image-set("../img/back-mobile@2x.webp" 2x, "../img/back-mobile@1x.webp" 1x, "../img/back-mobile@2x.jpg" 2x, "../img/back-mobile.jpg" 1x);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 0%;

  @media screen and (min-width: $media-tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "top top" "heading heading" "download image";
    background: image-set("../img/back-tablet@2x.webp" 2x, "../img/back-tablet.webp" 1x, "../img/back-tablet@2x.jpg", "../img/back-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }

  @media screen and (min-width: $media-desktop) {
    grid-template-columns: calc((100% - 940px) / 2) 1fr 1fr 1fr calc((100% - 940px) / 2);
    grid-template-areas: "top top top top top" ". heading . . ." ". download . . ." ". image image image .";
    grid-template-rows: 110px auto;
    background: image-set("../img/back-desktop@2x.webp" 2x, "../img/back-desktop.webp" 1x, "../img/back-desktop@2x.jpg" 2x, "../img/back-desktop.jpg" 1x);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }
}

.page-header__link {
  @include decoration;
  grid-area: logo;
  padding-left: 20px;

  @media screen and (min-width: $media-desktop) {
    padding: 0;
  }
}

.page-header__head-line {
  grid-area: top;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-areas: "logo button" "nav nav";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 69px auto;
  box-sizing: border-box;

  @media screen and (min-width: $media-tablet) {
    align-items: center;
    width: 100%;
    grid-template-rows: 110px auto;
  }

  @media screen and (min-width: $media-desktop) {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    grid-template-areas: ". logo nav nav .";
    grid-template-columns: calc((100% - 940px) / 2) 1fr 1fr 1fr calc((100% - 940px) / 2);
  }

  &--opened {
    background-color: $color-blue;
  }
}

.page-header__toggle {
  border: none;
  cursor: pointer;
  outline: none;
  height: 24px;
  background-color: transparent;
  color: #ffffff;
  position: absolute;
  // top: 24px;
  top: 22px;
  right: 18px;
  width: 50px;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: $color-white;
    box-shadow: 0 8px 0 0 $color-white, 0 16px 0 0 $color-white;
    transform: none;
    top: 0;
    right: 0;
  }

  &:hover::before {
    background-color: $color-pink;
    box-shadow: 0 8px 0 0 $color-pink, 0 16px 0 0 $color-pink;
  }

  &:active::before {
    opacity: 0.3;
  }

  @media screen and (min-width: $media-tablet) {
    top: 45px;
  }

  @media screen and (min-width: $media-desktop) {
    display: none;
  }

  &--opened {
    width: 30px;
    top: 23px;

    @media screen and (min-width: $media-tablet) {
      top: 46px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: #ffffff;
      box-shadow: none;
      transform: rotate(45deg);
      top: 9px;
      right: 0;

      @media screen and (min-width: $media-tablet) {
        // top: 11px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: #ffffff;
      box-shadow: none;
      transform: rotate(-45deg);
      top: 9px;
      right: 0;

      @media screen and (min-width: $media-tablet) {
        // top: 11px;
      }
    }

    &:hover::before {
      background-color: $color-pink;
      box-shadow: none;
    }

    &:hover::after {
      background-color: $color-pink;
    }

    &:active::before {
      opacity: 0.3;
    }

    &:active::after {
      opacity: 0.3;
    }
  }
}

.page-header__logo {
  color: $color-white;

  &--mobile {
    display: inline;

    @media screen and (min-width: $media-tablet) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media screen and (min-width: $media-tablet) {
      display: inline;
    }

    @media screen and (min-width: $media-desktop) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media screen and (min-width: $media-desktop) {
      display: inline;
    }
  }
}

.page-header__title-wrapper {
  text-align: center;
  padding: 40px 20px;
}

.page-header__title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: $page-header__title-font-size;
  font-weight: $page-header__title-font-weight;
  color: $page-header__title-color;
  grid-area: heading;
  padding: 25px 20px 44px;
  line-height: 33px;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (min-width: $media-tablet) {
    grid-column: 1/3;
    padding: 61px 80px;
    font-size: 50px;
    line-height: 68px;
  }

  @media screen and (min-width: $media-desktop) {
    padding: 61px 0 87px 0;

    grid-column: 1/6;
  }

  &--form {
    padding: 25px 20px 77px;

    @media screen and (min-width: $media-tablet) {
      padding: 61px 80px 128px;
    }
  }

  &--catalog {
    padding: 25px 20px 77px;

    @media screen and (min-width: $media-tablet) {
      padding: 61px 80px 128px;
    }

    @media screen and (min-width: $media-desktop) {
      padding: 61px 80px 88px;
    }
  }
}

.page-header__image {
  grid-area: image;
  line-height: 0;
  text-align: center;

  @media screen and (min-width: $media-tablet) {
    grid-row: 3/5;
    grid-column: 1/3;
    z-index: 1;
    margin-top: 70px;
    text-align: right;
  }

  @media screen and (min-width: $media-desktop) {
    grid-column: 2/6;
    margin-top: 95px;
    margin-left: 19px;
  }
}
