.page-header {
  color: $color-white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "top" "nav" "heading" "image" "download";
  grid-template-rows: 69px auto;
  background-image: url("../img/back-mobile.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 0%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media screen and (min-width: $media-tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 110px auto;
    grid-template-areas:
      "top top"
      "nav nav"
      "heading ."
      "download ."
      "image image";
    background: url("../img/back-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media screen and (min-width: $media-desktop) {
    grid-template-columns: calc((100% - 940px) / 2) 1fr 1fr 1fr calc((100% - 940px) / 2);
    grid-template-areas:
      "top top nav nav nav"
      ". heading . . ."
      ". download . . ."
      ". image image image .";
    grid-template-rows: 110px auto;
    background: url("../img/back-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.page-header__link {
  @include decoration;
}

.page-header__head-line {
  grid-area: top;
  background-color: $color-blue;
  padding: 20px;
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $media-tablet) {
    padding: 0 20px 0;
    align-items: center;
  }

  @media screen and (min-width: $media-desktop) {
    padding: 0 0 0 130px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &--opened {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.page-header__toggle {
  border: none;
  cursor: pointer;
  outline: none;
  height: 24px;
  background-color: transparent;
  color: #ffffff;
  width: 30px;

  @media screen and (min-width: $media-desktop) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 31px;
    right: 18px;
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    box-shadow: none;
    transform: rotate(45deg);

    @media screen and (min-width: $media-tablet) {
      top: 52px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 18px;
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    box-shadow: none;
    transform: rotate(-45deg);

    @media screen and (min-width: $media-tablet) {
      top: 52px;
    }
  }

  &:hover::before {
    background-color: $color-pink;
    box-shadow: none;
  }

  &:hover::after {
    background-color: $color-pink;
  }

  &:active::before {
    opacity: 0.3;
  }

  &:active::after {
    opacity: 0.3;
  }

  &--opened {
    &::after {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      width: 50px;
      top: 22px;
      right: 20px;
      height: 4px;
      background-color: $color-white;
      box-shadow: 0 8px 0 0 $color-white, 0 16px 0 0 $color-white;
      transform: none;

      @media screen and (min-width: $media-tablet) {
        top: 45px;
      }
    }

    &:hover::before {
      background-color: $color-pink;
      box-shadow: 0 8px 0 0 $color-pink, 0 16px 0 0 $color-pink;
    }

    &:active::before {
      opacity: 0.3;
    }
  }
}

.page-header__logo {
  color: $color-white;

  &--mobile {
    display: inline;

    @media screen and (min-width: $media-tablet) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media screen and (min-width: $media-tablet) {
      display: inline;
    }

    @media screen and (min-width: $media-desktop) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media screen and (min-width: $media-desktop) {
      display: inline;
    }
  }
}

.page-header__title-wrapper {
  text-align: center;
  padding: 40px 20px;
}

.page-header__title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: $page-header__title-font-size;
  font-weight: $page-header__title-font-weight;
  color: $page-header__title-color;
  margin: 0;
  grid-area: heading;
  padding: 25px 20px 44px;
  line-height: 33px;

  @media screen and (min-width: $media-tablet) {
    grid-column: 1/3;
    padding: 61px 80px;
    font-size: 50px;
    line-height: 68px;
  }

  @media screen and (min-width: $media-desktop) {
    // grid-column: 1/5;
    padding: 61px 130px 87px 130px;

    grid-column: 1/6;
  }

  &--form {
    padding: 25px 20px 77px;

    @media screen and (min-width: $media-tablet) {
      padding: 61px 80px 128px;
    }
  }

  &--catalog {
    padding: 25px 20px 77px;

    @media screen and (min-width: $media-tablet) {
      padding: 61px 80px 128px;
    }

    @media screen and (min-width: $media-desktop) {
      padding: 61px 80px 88px;
    }
  }
}

.page-header__image {
  grid-area: image;
  line-height: 0;

  @media screen and (min-width: $media-tablet) {
    grid-row: 3/5;
    grid-column: 1/3;
    z-index: 1;
    margin-top: 70px;
  }

  @media screen and (min-width: $media-desktop) {
    grid-column: 2/5;
    margin-top: 95px;
    margin-left: 19px;
  }
}
