.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-lightgrey;
}

.presentation__wrapper {
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $color-dark-blue;
  padding: 23px 20px 25px;*/ /*скрыто для теста*/

  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  background-color: $color-dark-blue;
  padding: 23px 20px 25px;

  @media screen and (min-width: $media-tablet) {
    grid-column: 1 / 2;
    background: 0;
  }

  @media screen and (min-width: $media-desktop) {
    padding: 0 0 0 130px;
  }
}

.presentation__heading {
  @extend %p-general-style;
  display: grid;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  text-align: center;

  @media screen and (min-width: $media-tablet) {
    grid-column: 1 / 2;
    align-items: center;
    padding: 0 50px;
  }

  @media screen and (min-width: $media-desktop) {
    /*padding: 0 80px;*/
    padding: 0 0 0 130px;
  }
}

.presentation__list {
  @extend %ul-general-style;
  margin: 10px 0 20px;
}

.presentation__item {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 15px;
}

.presentation__logo {
  display: block;
  text-decoration: none;
}

.presentation__text {
  color: $presentation__text-color;
  font-size: $presentation__text-font-size;
  font-weight: $presentation__text-font-weight;
  padding: 0;
  margin: 0;
}
