.publish {
  @media screen and (min-width: $media-desktop) {
    padding: 0 130px;
  }
}

.publish__title {
  // @extend %p-general-style;
  @include zero-margins;
  text-align: center;
  padding: 0 20px 40px;
}

.publish__form-wrapper {
  background-color: $color-lightgrey;
}
