.reviews {
  padding: 24px 20px 35px;
  position: relative;

  @media screen and (min-width: $media-tablet) {
    padding: 75px 20px 35px;
  }

  @media screen and (min-width: $media-desktop) {
    margin: auto;
    padding: 35px 130px;
    max-width: 940px;
    width: 100%;

    &::before {
      content: "";
      width: 79px;
      height: 63px;
      background-image: url("../img/quotes.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 75px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}

.reviews__wrapper {
  text-align: center;

  @media screen and (min-width: $media-desktop) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
  }
}

.reviews__list {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $media-tablet) {
    flex-direction: column-reverse;
  }

  @media screen and (min-width: $media-desktop) {
    margin: 0 85px;
  }
}

.reviews__author-name {
  @include zero-margins;
  font-size: $author-name-font-size;
  font-weight: $author-name-font-weight;
  color: $author-name-color;
  margin-bottom: 15px;
  padding-top: 20px;

  @media screen and (min-width: $media-tablet) {
    font-size: $author-name-font-size--tablet;
  }

  @media screen and (min-width: $media-desktop) {
    font-size: $author-name-font-size--desktop;
    padding-top: 24px;
  }
}

.reviews__author-age-profession {
  @include zero-margins;
  font-size: $author-age-profession-font-size;
  font-weight: $author-age-profession-font-weight;
  color: $author-age-profession-color;

  @media screen and (min-width: $media-desktop) {
    font-size: $author-age-profession-font-size--desktop;
  }

  &--hidden {
    display: none;

    @media screen and (min-width: $media-tablet) {
      display: inline;
    }
  }
}

.reviews__item {
  margin: 0;
}

.reviews__author-text {
  @include zero-margins;
  font-size: $author-text-font-size;
  font-weight: $author-text-font-weight;
  color: $author-text-color;
  line-height: 30px;
  margin-bottom: 13px;

  @media screen and (min-width: $media-tablet) {
    font-size: $author-text-font-size--tablet;
  }
}

.reviews__button {
  display: none;

  @media screen and (min-width: $media-desktop) {
    display: inline-block;
    width: 5%;
    height: 41px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    color: rgba($color-blue, 0.3);

    &:hover {
      color: rgba($color-blue, 0.6);
    }

    &:active {
      color: rgba($color-blue, 0.1);
    }
  }
}
