.slider {
  //Nothing
}

.slider__list {
  //Nothing
}

.slider__toggles {
  @extend %ul-general-style;
  text-align: center;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.slider__toggle {
  width: 6px;
  height: 6px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: rgba($color-blue, 0.3);
  text-decoration: none;
  padding: 0;
  outline: none;

  &:hover {
    background-color: rgba($color-blue, 0.6);
  }

  &:active {
    background-color: rgba($color-blue, 0.1);
  }

  @media screen and (min-width: $media-desktop) {
    display: none;
  }

  &--active {
    box-shadow: 0 0 0 3px $color-dark-blue;
    overflow: visible;
    background-color: transparent;
  }
}
