.table {
  /*height: 279px;*/
  /*display: flex;
  justify-content: center;*/
  border-collapse: collapse;
  word-break: break-all;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  /*transform: translate(-31%);*/
  table-layout: fixed;
  transition: transform 0.5s ease;
  /*position: relative;
  left: 50%;*/
  transform: translateX(-33%);

  @media screen and (min-width: $media-tablet) {
    width: 100%;
    transform: none;
    display: table;
  }

  &--hidden {
    display: none;

    @media screen and (min-width: $media-tablet) {
      display: table-cell;
    }
  }
}

.table__tr {
  //Nothing
}

.table__th {
  box-sizing: border-box;
  width: 276px;
  height: 94px;
  background-color: $color-blue;
  text-align: center;
  border: 2px solid $color-grey;
}

.table__th--border-hidden {
  //Nothing
}

.table__th-text {
  font-size: $th-text-font-size;
  font-weight: $th-text-font-weight;
  text-transform: uppercase;
  color: $th-text-color;

  @media screen and (min-width: $media-desktop) {
    font-size: $th-text-font-size--desktop;
  }
}

.table__th-price {
  font-size: $th-price-font-size;
  font-weight: $th-price-font-weight;
  color: $th-price-color;

  @media screen and (min-width: $media-desktop) {
    font-size: $th-price-font-size--desktop;
  }
}

.table__td {
  box-sizing: border-box;
  width: 276px;
  background-color: $color-white;
  border: 2px solid $color-grey;

  &--hidden {
    display: inline;
    text-transform: uppercase;

    @media screen and (min-width: $media-tablet) {
      display: none;
    }
  }
}

.table__td-text {
  font-size: $td-text-font-size;
  font-weight: $td-text-font-weight;
  color: $td-text-color;

  @media screen and (min-width: $media-desktop) {
    font-size: $td-text-font-size--desktop;
  }
}

.table__td-wrapper {
  //Nothing
}

.table__td-icon {
  //Nothing
}
