.table {
  /*height: 279px;*/
  /*display: flex;
  justify-content: center;*/
  border-collapse: collapse;
  word-break: break-all;
  margin: 0 auto;
  text-align: center;
  width: 300%;
  /*transform: translate(-31%);*/
  /*table-layout: fixed;*/
  transition: transform 0.5s ease;
  /*position: relative;
  left: 50%;*/
  /*transform: translateX(-50%);*/

  @media screen and (min-width: $media-tablet) {
    width: 100%;
    transform: none;
    display: table;
  }

  &--hidden {
    display: none;

    @media screen and (min-width: $media-tablet) {
      display: table-cell;
    }
  }
}

.table__tr {
  //Nothing
}

.table__th {
  box-sizing: border-box;
  width: 276px;
  height: 94px;
  background-color: $color-blue;
  text-align: center;
  border: 2px solid $color-grey;
}

.table__th--border-hidden {
  //Nothing
}

.table__th-text {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-white;
}

.table__th-price {
  font-size: 18px;
  font-weight: 300;
  color: $color-white;
}

.table__td {
  box-sizing: border-box;
  width: 276px;
  background-color: $color-white;
  border: 2px solid $color-grey;

  &--hidden {
    display: inline;
    text-transform: uppercase;

    @media screen and (min-width: $media-tablet) {
      display: none;
    }
  }
}

.table__td-text {
  font-size: 14px;
  font-weight: 400;
  color: $color-blue;
}

.table__td-wrapper {
  //Nothing
}

.table__td-icon {
  //Nothing
}
