// Queries system
$media-mobile: 320px;
$media-tablet: 660px;
$media-desktop: 1200px;


// Colors system
$color-pink: #d22856;
$color-white: #ffffff;
$color-blue: #283645;
$color-black: #000000;
$color-green: #3dc644;
$color-orange: #f25b26;
$color-lightgrey: #f2f2f2;
$color-dark-blue: #1d2631;
$color-grey: #e5e5e5;
$color-light-green: #2aab6d;
$color-dark-green: #1c9b5e;

// Fonts sytem
$main-font-family: "Open Sans", "Arial", sans-serif;
$main-font-size: 14px;
$main-font-line-height: 27px;

// BLocks defintion

// Page header
$page-header__title-font-size: 24px;
$page-header__title-font-weight: 300;
$page-header__title-color: $color-white;

// Main nav
$main-nav-background-color: $color-blue;
$main-nav-color: $color-white;
$main-nav-font-size: 18px;
$main-nav-font-weight: bold;
$main-nav-font-weight--desktop: 400;

// Heading
$heading-color: $color-white;
$heading-font-size: 24px;
$heading-font-weight: 300;
$heading-font-size--tablet: 40px;
$heading-font-size--desktop: 50px;


// Presentation
$presentation-text-color: $color-white;
$presentation-text-font-size: 14px;
$presentation-text-font-weight: 300;
$presentation-text-font-size--tablet: 18px;

// Button
$button-font-size: 18px;
$button-font-weight: bold;
$button-border: 3px solid $color-white;
$button-color: $color-white;

// Advantages
$advantages-title-font-size: 18px;
$advantages-title-font-weight: bold;
$advantages-title-color: $color-black;
$advantages-title-font-size--desktop: 30px;

$advantages-description-font-size: 14px;
$advantages-description-font-weight: 400;
$advantages-description-color: $color-blue;
$advantages-description-font-size--desktop: 18px;

// Reviews
$author-name-font-size: 18px;
$author-name-font-weight: bold;
$author-name-color: $color-black;
$author-name-font-size--tablet: 20px;
$author-name-font-size--desktop: 24px;

$author-age-profession-font-size: 14px;
$author-age-profession-font-weight: 400;
$author-age-profession-color: $color-blue;
$author-age-profession-font-size--desktop: 18px;

$author-text-font-size: 14px;
$author-text-font-weight: 400;
$author-text-color: $color-blue;
$author-text-font-size--tablet: 18px;

// Price
$price__wrapper-background-color: $color-lightgrey;
$th-text-color: $color-white;
$th-text-font-size: 16px;
$th-text-font-weight: bold;
$th-text-font-size--desktop: 18px;

$th-price-color: $color-white;
$th-price-font-size: 18px;
$th-price-font-weight: 300;
$th-price-font-size--desktop: 24px;

$td-text-color: $color-blue;
$td-text-font-size: 14px;
$td-text-font-weight: 400;
$td-text-font-size--desktop: 18px;

// Contacts
$contacts__info-title-font-size: 18px;
$contacts__info-title-font-weight: bold;
$contacts__info-title-color: $color-blue;

$contacts__link-font-size: 24px;
$contacts__link-font-weight: 300;
$contacts__link-color: $color-pink;

// Map
$map-background-color: $color-white;

// Footer
$footer-background-color:  $color-white;

$developer-text-font-size: 14px;
$developer-text-font-weight: 400;
$developer-text-color: $color-blue;
$developer-text-font-size--desktop: 18px;

// Main
$main-title-font-size: 14px;
$main-title-font-weight: 400;
$main-title-color: $color-blue;
$main-title-font-size--tablet: 18px;

// Field
$field__label-font-size: 14px;
$field__label-font-weight: 400;
$field__label-color: $color-pink;

$field__input-font-size: 18px;
$field__input-font-weight: 400;
$field__input-color: $color-blue;

$form__fielsdet-legend-font-size: 14px;
$form__fielsdet-legend-font-weight: 400;
$form__fielsdet-legend-color: $color-pink;

$inline-field__label-font-size: 18px;
$inline-field__label-font-weight: 400;
$inline-field__label-color: $color-blue;

// Card
$name-font-size: 14px;
$name-font-weight: bold;
$name-color: $color-blue;

$time-font-size: 12px;
$time-font-weight: 300;
$time-color: $color-blue;

$comment-font-size: 14px;
$comment-font-weight: 400;
$comment-color: $color-blue;

$like-text-font-size: 12px;
$like-text-font-weight: 400;
$like-text-color: $color-pink;

// Effect
$effect-heading-color: $color-black;
$effect-heading-font-size: 30px;
$effect-heading-font-weight: bold;

$effect-text-color: $color-blue;
$effect-text-font-size: 14px;
$effect-text-font-weight: 400;
$effect-text-font-size--desktop: 18px;

$effect-link-color: $color-pink;
$effect-link-font-size: 14px;
$effect-link-font-weight: 400;
$effect-link-font-size--desktop: 18px;

// Modal windows
$modal-bg-color: $color-white;
$modal-title-color: $color-black;
$modal-title-font-size: 18px;
$modal-title-font-size--tablet: 30px;
$modal-title-font-weight: bold;

$modal-description-color: $color-blue;
$modal-description-font-size: 14px;
$modal-description-font-size--tablet: 18px;
$modal-description-font-weight: 400;
